body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  padding: 0
}

/* Common */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  font-weight: 300;
  color: rgb(128, 131, 131);
}

em {
  color: #04e762;
  font-style: normal;
}

a {
  outline:none;
}

p {
  color: rgb(103, 105, 105);
  padding: 0;
  font-weight: 300;
}

h1 {
  font-weight: 300;
  font-size: 70px;
  text-transform: Uppercase;
  margin-top: 10px;
  margin-bottom: 18px;
  color: white;
  line-height: 1.1em;
}

h2 {
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(128, 131, 131);
  font-size: 25px;
}

h3 {
  font-weight: 300;
  font-size: 20px;
  margin: 0;
  color: rgb(103, 105, 105);
}

.navbar .link-decoration, .home-social .link-decoration {
  text-decoration: none;
}

h5 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0;
  color: rgb(128, 131, 131);
}

span {
  font-weight: 600;
  text-transform: uppercase;
}

.home-contact-infos .fas, .home-contact-infos .far {
  padding-right: 10px;
  color: #04e762;
}

.fab:hover {
  color: #04e762;
  text-decoration: none;
}

.title h2 {
  margin-top: 70px;
  padding-top: 20px;
  border-top: 3px solid #04e762;
}

.title p {
  text-align: right;
  font-style: italic;
  font-weight: 300;
}

.title {
  padding-right: 60px;
  flex-flow: column wrap;
  display: flex;
  text-align: right;
}

.content {
  text-align: left;
  display: flex;
  align-items: center;
  padding: 60px;
}

/* End Common */

/* Header */

.navbar {
  background-color: #191919;
  height: 43px !important;
  margin: 0;
  padding: 0;
  box-shadow: 0px 1px 10px #000;
}

.navbar-collapse {
  text-align: center;
  background-color: #191919;
  justify-content: space-between;
}

.nav-link {
  text-transform: uppercase;
  color: #7f8c96;
  font-weight: 300;
  font-size: 0.9em;
}

.nav-link:hover {
  color: #04e762 !important;
}

.nav-social i {
  padding: 10px;
  color: rgb(128, 131, 131);
}

#logo {
  height: 200px;
  width: 300px;
  margin: 0 auto;
}

.nav-link a:hover {
  text-decoration: none;
}

.navbar-toggler, .collapsed{
  font-size:14px;
  margin-right: 10px;
}
.navbar-toggler:focus{
  outline: none;
}

/* End header */

/* Home */

.home-section {
  background-color: #2b2c2c;
}

.home-right {
  background: #2d2e2e;
  padding: 60px;
  justify-content: center;
  flex-flow: column wrap;
  display: flex;
  text-align: left;
}

.home-left {
  padding-top: 60px;
  flex: 1;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}

.home-contact-infos {
  display: flex;
  bottom: 0;
  position: absolute;
  padding-bottom: 3vh;
  padding-top: 3vh;
}

.home-contact-infos ul {
  justify-content: flex-end;
  flex-direction: row;
  text-align: center;
}

.home-contact-infos li {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 0.8em;
}
.home-contact-infos a {
  color: rgb(128, 131, 131);
}

.home-contact-infos a:hover {
  color: #04e762;
  text-decoration: none;
}

.home-social i {
  padding: 10px;
  color: rgb(128, 131, 131);
}

/* End Home */

/* About */

.about .title {
  background: #262727;
}

.about .content {
  background: #252525;
}

.about-right p {
  text-align: left;
  font-weight: 300;
  margin: 0;
}

.about-english {
  margin-top: 30px !important;
}

#english{
  color: rgb(77, 80, 80);
  font-size: 15px;

}

/* End About */


/* Project */


.projects .title {
  background: #2B2C2C;
}

.projects {
  background-color: #2D2E2E;
}
.works{
  text-align: left;
  display: flex;
  align-items: center;
  padding: 60px;
  background-color: #2D2E2E;
}

.project-grid img{
  filter: grayscale(100%)blur(1px);

}
.project-grid img:hover{
  display: block;
  filter: none;
  transition: .6s ease;
}

.card{
  background-color: #252525;
  border:none;
  border-radius: 0;
  padding: 0;
}
.card a{
  text-decoration:none;
}
.card-title{
  font-weight:900;
  text-align:center;
  color: #04e762;
}

.card-text{
  text-align:center;
  color: #8c9499;
}

.card-deck{
  padding-right: 0;
}
.project-grid{
  margin-top: 50px;
  margin-bottom: 50px;
}
/* End Project */

/* Skills */

.skills .content img {
  margin: 0 auto;
  display: block;
  height: 50px;
}

.skills h4 {
  color: rgb(128, 131, 131);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.skills .title {
  background: #2B2C2C;
}

.skills .content {
  background: #2D2E2E;
  text-align: center;
}

.skills li {
  color: #04e762;
  text-transform: uppercase;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.skills h6 {
  color: rgb(128, 131, 131);
  padding-top: 20px;
  padding-bottom: 10px;
}

.skills ul {
  margin-bottom: 50px;
}

.skills-content {
  margin-left: 20px;
}

/* End Skills */

/* Experience */

.experiences .title {
  background: #262727;
}

.experiences .content {
  background: #252525;
}

/* Experiences Timeline */

.timeline {
  padding:0;
}
.timelineitem {
  position: relative;
  z-index: 1;
}

.first-timelineitem-header,
.second-timelineitem-header,
.third-timelineitem-header,
.first-timelineitem-footer,
.second-timelineitem-footer,
.third-timelineitem-footer {
  font-size: 0.8rem;
  color: #8c9499;
  font-weight: bold;
}


.timelineitem-footer:after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #04e762;
  margin-left: 25px;
}

.first-timelineitem-footer:after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #04e762;
  margin-left: 37px;
}

.second-timelineitem-footer:after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #04e762;
  margin-left: 28px;
}

.third-timelineitem-footer:after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #04e762;
  margin-left: 30px;
}

.first-timelineitem-header:after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #04e762;
  margin-left: 33px;
}

.second-timelineitem-header:after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #04e762;
  margin-left: 37px;
}

.third-timelineitem-header:after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #04e762;
  margin-left: 28px;
}

.timelineitem-body {
  position: relative;
  margin-left: 67px;
  padding-left: 40px;
}

.timelineitem-body:before {
  content: "";
  position: absolute;
  width: 2px;
  top: -5px;
  bottom: -5px;
  left: 0;
  background-color: white;
}

.timelineitem-content {
  background-color: #2D2E2E;
  padding: 10px 20px;
}

.timelineitem-content .timelineitem-title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.timelineitem-content .timelineitem-subtitle {
  font-size: 0.85rem;
  font-weight: 300;
  font-style: italic;
  color: #04e762;
  margin-bottom: 5px;
}

.timelineitem-content .timelineitem-description {
  color: #8c9499;
  line-height: 1.25rem;
  margin-bottom: 0;
}

.timeline-separator {
  position: relative;
  height: 30px;
  z-index: 0;
  margin-left: 67px;
}

.timeline-separator:before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  border: 1px dashed white;
  left: 0px;
}

/* End Experiences-Timeline */

/* End Experience */

/* Education */

.education .title {
  background: #262727;

}

.education .content {
  background: #252525;
}

/* Education Timeline */

.timelineitem {
  position: relative;
  z-index: 1;
}

.first-timelineitem-header,
.second-timelineitem-header,
.third-timelineitem-header,
.first-timelineitem-footer,
.second-timelineitem-footer,
.third-timelineitem-footer {
  font-size: 0.8rem;
  color: #8c9499;
  font-weight: bold;
}

.education .first-timelineitem-footer:after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #04e762;
  margin-left: 29px;
}

.education .second-timelineitem-footer:after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #04e762;
  margin-left: 29px;
}

.education .third-timelineitem-footer:after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #04e762;
  margin-left: 29px;
}

.education .first-timelineitem-header:after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #04e762;
  margin-left: 33px;
}

.education .second-timelineitem-header:after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #04e762;
  margin-left: 29px;
}

.education .third-timelineitem-header:after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #04e762;
  margin-left: 28px;
}

.timelineitem-body {
  position: relative;
  margin-left: 67px;
  padding-left: 40px;
}

.timelineitem-body:before {
  content: "";
  position: absolute;
  width: 2px;
  top: -5px;
  bottom: -5px;
  left: 0;
  background-color: white;
}

.timelineitem-content {
  background-color: #2D2E2E;
  padding: 10px 20px;
}

.timelineitem-content .timelineitem-title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.timelineitem-content .timelineitem-subtitle {
  font-size: 0.85rem;
  font-weight: 300;
  font-style: italic;
  color: #04e762;
  margin-bottom: 5px;
}

.timelineitem-content .timelineitem-description {
  color: #8c9499;
  line-height: 1.25rem;
  margin-bottom: 0;
}

.timeline-separator {
  position: relative;
  height: 30px;
  z-index: 0;
  margin-left: 67px;
}

.timeline-separator:before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  border: 1px dashed white;
  left: 0px;
}


.education container{
  margin: 0!important;
  padding:0!important;
}
/* End Education-Timeline */

/* End Education */

/* Contact */


.contact .title {
  background: #2B2C2C;
}

.contact .content {
  background: #2D2E2E;
}

.footer-social ul{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}
.footer-social a{
  color: #04e762;
  font-size:40px;
  text-decoration: none;
  transition: all 200ms ease-in;
  transform: scale(1);  
}
.footer-social a:hover{
  transition: all 200ms ease-in;
  transform: scale(1.5);
}

/* End Contact */

/* Animation */

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation-name: slideInRight;
}

@keyframes slideInLeft {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInDown;
}

em {
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    color: #04e762;
    text-shadow: none;
  }
  25% {
    color: #04e762;
    text-shadow: 0 0 20px #04e762;
  }
  50% {
    color: #04e762;
    text-shadow: 0 0 60px #04e762;
  }
  75% {
    color: #04e762;
    text-shadow: 0 0 20px #04e762;
  }
  100% {
    color: #04e762;
    text-shadow: none;
  }
}

/* End Animation */

/* Media */

@media only screen and (max-width: 768px) {

  .card-deck{
    padding-right:30px;
  }

  .nav-social i {
    display: none;
  }
  .home-right {
    text-align: center;
    overflow:hidden;
  }
  .home-right h1{
    text-align: center;
    font-size:45px;
  }
  .home-right h5{
    text-align: center;
    font-size:25px;
  }
  .home-right h3{
    text-align: center;
    font-size:22px;
  }
  .home-contact-infos {
    display: none;
  }
  .about .title,
  .contact .title,
  .skills .title {
    background-color: #252525;
    padding: 70px 70px 70px 70px;
  }
  .education .title,
  .experiences .title,
  .projects .title{
    background-color: #2D2E2E;
    padding: 70px 70px 70px 70px;
  }
  .title h2 {
    margin-top: 20px;
    ;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    padding: 0;
    text-align: center;
    border: none;
  }
  .title p {
    padding-bottom: 70px;
    border-bottom: 1px solid #04e762;
    text-align: center;
  }
  .content {
    padding:30px;
    
  }
}

@media only screen and (max-width: 992px) {
  .nav-social i {
    display: none;
  }
  .home-contact-infos {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  hr {
    display: none;
  }
}

/* End Media */